
/* setting the font with the @font-face rule  */
@font-face {
    font-family: Infinity;
    src: url('../fonts/Infinity.ttf');
}

/* each css class used here is defined with the stylesheet="" syntax in the fxml document  */
.root{
    -fx-background-color:#9099ac;
    -fx-background-image: url("../img/background-twitter-images-1920x1080.png");
	-fx-font-family: Infinity;
}

.welcome-area{

}
.login{
	-fx-font-family: Avant Garde;
}
.login-title{
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 40pt;
    -fx-font-family: Infinity;

    -fx-fill: #0000;
    -fx-text-fill: white;

    -fx-fill: #ffffff; 

}
/* settings four round button needed to make it into a circle */
.round-button{
    -fx-min-height: 200px;
    -fx-min-width: 200px;
    -fx-max-height: 200px;
    -fx-max-width: 200px;

    -fx-background-color: azure;
    -fx-font-family: Infinity;
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 31pt;
    -fx-text-fill: grey;
}
/* Booking Interface */
.borderPane{
	-fx-font-family: Infinity;
}
.options-area{
	-fx-border-style: solid;
    -fx-border-radius: 10 10 10 10;
  	-fx-background-radius: 10 10 10 10;
    -fx-font-family: Avant Garde;
    -fx-background-color: rgba(63, 123, 191, 0.20)
   


}

.options-area-labels{
	-fx-text-fill: white;
	
}
.login-labels{

	-fx-text-fill: white;
	
}
.register-labels{
	
	-fx-text-fill: white;

}
.result-area{
	-fx-border-style: solid;
    -fx-border-radius: 10 10 10 10;
  	-fx-background-radius: 10 10 10 10;
    -fx-font-family: Avant Garde;
    -fx-background-color: rgba(63, 123, 191, 0.20)

}
.top-anchorpanetext{
	-fx-font-family: Avant Garde;
	-fx-text-fill: white;
}