
/* setting the font with the @font-face rule  */
@font-face {
    font-family: Infinity;
    src: url('../fonts/Infinity.ttf');
}

/* each css class used here is defined with the stylesheet="" syntax in the fxml document  */
.root{
    -fx-background-color:#9099ac;
    -fx-background-image: url("../img/Death_to_stock_communicate_hands_2.jpg");

}

.toogle-button{
    -fx-background-color: rgba(219, 207, 207, 0.75);
    -fx-background-radius: 10px;
    -fx-text-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;

    -fx-font-size: 10pt;
    -fx-font-family: sans-serif;
}
.search-button{

}

.pagination{

}

.toggle-button:selected{
    -fx-background-color: rgba(219, 207, 207, 0.75);
}

.login-title{
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 40pt;
    -fx-font-family: Infinity;
    -fx-fill: #ffffff;
}
/* settings four round button needed to make it into a circle */
.round-button{
    -fx-min-height: 200px;
    -fx-min-width: 200px;
    -fx-max-height: 200px;
    -fx-max-width: 200px;

    -fx-background-color: azure;
    -fx-font-family: Infinity;
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 18pt;
    -fx-text-fill: indianred;
}
.options-area{

    -fx-font-family: Infinity;



}